@model ELECTION.Models.Candidat

@{
    ViewData["Title"] = "Create";
}


<h4>Ajout</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomCandidat" class="control-label">Nom</label>
                <input asp-for="NomCandidat" class="form-control" />
                <span asp-validation-for="NomCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenomCandidat" class="control-label">Prenom</label>
                <input asp-for="PrenomCandidat" class="form-control" />
                <span asp-validation-for="PrenomCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinCandidat" class="control-label">Numéro cin</label>
                <input asp-for="CinCandidat" class="form-control" />
                <span asp-validation-for="CinCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Image</label>
                <input asp-for="ImageFile" type="file">
                <span asp-validation-for="ImageFile"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
