@model ELECTION.Models.Candidat

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Candidat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomCandidat" class="control-label"></label>
                <input asp-for="NomCandidat" class="form-control" />
                <span asp-validation-for="NomCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenomCandidat" class="control-label"></label>
                <input asp-for="PrenomCandidat" class="form-control" />
                <span asp-validation-for="PrenomCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinCandidat" class="control-label"></label>
                <input asp-for="CinCandidat" class="form-control" />
                <span asp-validation-for="CinCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageCandidat" class="control-label"></label>
                <input asp-for="ImageCandidat" class="form-control" />
                <span asp-validation-for="ImageCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministrateurId" class="control-label"></label>
                <select asp-for="AdministrateurId" class ="form-control" asp-items="ViewBag.AdministrateurId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
