@model ELECTION.Models.Candidat

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression</h1>

<h3>Vous êtes sûres?</h3>
<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        Nom
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomCandidat)
        </dd>
        <dt class = "col-sm-2">
           Prenom
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomCandidat)
        </dd>
        <dt class = "col-sm-2">
          Numéro Cin
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinCandidat)
        </dd>
        <dt class = "col-sm-2">
        Image
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageCandidat)
        </dd>
   
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CandidatId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retourner</a>
    </form>
</div>
