@model ELECTION.Models.Candidat

@{
    ViewData["Title"] = "Edit";
}



<h4>Mise à jour</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CandidatId" />
            <div class="form-group">
                <label asp-for="NomCandidat" class="control-label">Nom</label>
                <input asp-for="NomCandidat" class="form-control" />
                <span asp-validation-for="NomCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenomCandidat" class="control-label">Prenom</label>
                <input asp-for="PrenomCandidat" class="form-control" />
                <span asp-validation-for="PrenomCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinCandidat" class="control-label">Numéro cin</label>
                <input asp-for="CinCandidat" class="form-control" />
                <span asp-validation-for="CinCandidat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageCandidat" class="control-label">Image</label>
                <input asp-for="ImageCandidat" class="form-control" />
                <span asp-validation-for="ImageCandidat" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retourner</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
