@model ELECTION.Models.Administrateur

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Administrateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
                   <div class="col-12">

                                         

                                            <div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdministrateurId" />
            <div class="form-group">
                <label asp-for="NomAdmin" class="control-label"></label>
                <input asp-for="NomAdmin" class="form-control" />
                <span asp-validation-for="NomAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenomAdmin" class="control-label"></label>
                <input asp-for="PrenomAdmin" class="form-control" />
                <span asp-validation-for="PrenomAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinAdmin" class="control-label"></label>
                <input asp-for="CinAdmin" class="form-control" />
                <span asp-validation-for="CinAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotDePasse" class="control-label"></label>
                <input asp-for="MotDePasse" class="form-control" />
                <span asp-validation-for="MotDePasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
                                                 </div>
                        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
