
<!DOCTYPE html>
<html class=" ">
    
<!-- Mirrored from jaybabani.com/complete-admin/v6.4/bs4/fullmenu/index-blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Nov 2021 10:13:33 GMT -->
<head>
       
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon" />    <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" href="~/assets/images/apple-touch-icon-57-precomposed.png">	<!-- For iPhone -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/images/apple-touch-icon-114-precomposed.png">    <!-- For iPhone 4 Retina display -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/images/apple-touch-icon-72-precomposed.png">    <!-- For iPad -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/images/apple-touch-icon-144-precomposed.png">    <!-- For iPad Retina display -->




        <!-- CORE CSS FRAMEWORK - START -->
        <link href="~/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/> -->
        

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->
            <!-- CORE CSS TEMPLATE - START -->
            <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
            <!-- CORE CSS TEMPLATE - END -->
            <title>@ViewData["Title"] - ELECTION</title>
</head>
<body class=" pace-done"  style="background-image: url('https://www.tourmag.com/photo/art/grande/59045326-43459079.jpg?v=1632228334'); height: 100%; width: 100%; ">
 
                                    <main role="main" class="pb-3">
                                        @RenderBody()
                                    </main>
                               
                                
       
    </body>
</html>
